html,
body {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}

* {
    font-family: "space_grotesklight";
}

@font-face {
    font-family: "space_grotesklight";
    src: url("./fonts/spacegrotesk-light-webfont.woff2") format("woff2"),
        url("./fonts/spacegrotesk-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.box {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

img {
    height: 100%;
}

@media screen and (max-width: 720px) {
    img {
        height: 50%;
    }
}
