.container {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "space_grotesklight";
    z-index: 1;
}

.center {
    font-size: 100px;
    font-family: "space_grotesklight";
    z-index: 2;
}

.contact {
    font-size: 20px;
    cursor: pointer;
    z-index: 4;
}

@media (max-width: 720px) {
    .center {
        font-size: 50px;
    }
}
